*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: var(--p-font-size);
}



h1{
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

section{
    width: 40%;
    margin: 0 auto;
}

h3{
    font-size: var(--h3-font-size);
    font-style: italic;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

p{
    margin-bottom: 0.5rem;
}